/*
 * style.css
 * Inneholder styling til alle elementene i hele Asperøysiden. Kan kanskje splittes i flere filer
 * etterhvert, men foreløpig ganske greit. Tror det er mye overflødige kommandoer her, får rydde
 * opp når vi går over styling etterhvert. 
 *
 */

body {
	font-family: Helvetica;
	margin: 0 auto;
	width: 100%;
	background-color: #FFF5EE;
}

/*            HEADER STYLE          */

#header {
	background-color: #0BB6FF;
	height: 100px;
	width: 100%;
	display: block;
	
}

#tittel {
	text-align: center;
	width: 7em;
	font-size: 60px;
	font-weight: bold;
	color: #003355;
	position: relative;
	/*top: -30px;*/
	z-index: 101;
	left: 150px;
	top: -0px;
	display: inline-block;
}

#logo {
	position: relative;
	top: 20px;
	left: 30px;
	width: 200px;
	height: 80px;
	z-index: 100;
	
	border: 0;
}

header img{
	border: 0;
}

#meny {
	color: #005566;
	background-color: #0BB6FF;
	width: 100%;
	min-width: 900px;
	text-align: center;
	top: -40px;
	
	
}

.knapp {
	background-color: #0BB6FF;
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
	padding: 10px 10px;
}

.knapp:hover{
	cursor: pointer;
}

/*         INNHOLD STYLE        */

.innhold {
	margin: 0 auto;
	padding: 20px 30px;
	overflow: auto;
	min-width: 1000px;
}

/*   HJEM STYLE        */

#karusell {
	width: 100%;
}

#karusell img{
	margin: 0 0;
	width: 98%;
}


/*              LOGIN STYLE           */

.innholdboks {
	background-color: #0BB6FF;
	width: 400px;
	margin: 40px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	
}

#feilmelding {
	color: rgb(170, 30, 30);
}

a {
	text-decoration: none;
	color: inherit;
}

/*       BILDER STYLE       */

#album {
	position: relative;
	margin: 0 auto;
	height: 100%;
}

.navbar {
	
}

.tilbake{
	position: absolute;
	left: 13%;
	font-weight: 100;
	display: inline;
}

.leggtil{
	position: relative;
	left: 67%;
	font-weight: 100;
	display: inline;
}

.navbar h3{
	position: relative;
	left: 42%;
	display: inline;
}

.content {
	position: relative;
	width: 100%;
	margin-left: 6%;
	float: left;
}

.thumbnail {
	position: relative;
	width: 27%;
	height: 260px;
	margin: 5px;
	display: inline-block;	
	overflow: hidden;
}

.thumbnail a img {
	
	width: 99%;
	height: auto;
	display: block;	
}

.thumbnail .label {
	text-align: center;
	padding-top: 5px;
	font-weight: 300;
}


/*     GALLERI STYLE      */

.galleri .bilde img {
	margin: 0 23%;
	width: 50%;
	padding-bottom: 20px;
	padding-top: 20px;
}

.kommentar {
	margin: 0 auto;
	padding: 15px;
	text-align: center;
}

.kommentarfelt {
	margin: 0 auto;
	text-align: center;
}

/*       FOOTER STYLE        */

#copyright {
	position: fixed;
	right: 10px;
	bottom: 5px;
}

