/*
 * style.css
 * Inneholder styling til alle elementene i hele Asperøysiden. Kan kanskje splittes i flere filer
 * etterhvert, men foreløpig ganske greit. Tror det er mye overflødige kommandoer her, får rydde
 * opp når vi går over styling etterhvert. 
 *
 */

body {
	font-family: Helvetica;
	margin: 0 auto;
	width: 100%;
}

/*            HEADER STYLE          */

#header {
	background-color: #0BB6FF;
	height: 140px;
	width: 100%;
	display: block;
	
}

#tittel {
	text-align: center;
	width: 7em;
	font-size: 60px;
	font-weight: bold;
	color: #003355;
	position: relative;
	/*top: -30px;*/
	z-index: 101;
	left: 150px;
	display: inline-block;
}

#logo {
	position: relative;
	top: 20px;
	left: -30px;
	width: 300px;
	height: 120px;
	z-index: 100;
	
	border: 0;
}

header img{
	border: 0;
}

#meny {
	color: #005566;
	background-color: #0BB6FF;
	width: 100%;
	min-width: 900px;
	text-align: center;
	
}

.knapp {
	background-color: #0BB6FF;
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
	padding: 10px 10px;
}

.knapp:hover{
	cursor: pointer;
}

/*         INNHOLD STYLE        */

.innhold {
	margin: 0 auto;
	padding: 20px 30px;
	overflow: auto;
	min-width: 1000px;
}

/*   HJEM STYLE        */

#karusell img{
	margin: 0 auto;
	width: 300px;
}


/*              LOGIN STYLE           */

.innholdboks {
	background-color: #0BB6FF;
	width: 400px;
	margin: 40px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	
}

#feilmelding {
	color: rgb(170, 30, 30);
}

a {
	text-decoration: none;
	color: inherit;
}

/*       BILDER STYLE       */

#album {
	position: relative;
	margin: 0 auto;
	height: 100%;
}

.bildertittel{
	position: relative;
	width: 100%;
	padding: 6px;
}

.bildertittel .tilbake{
	position: relative;
	left: 10%;
	font-weight: 100;
}

.bildertittel .leggtil{
	position: relative;
	left: 60%;
	font-weight: 100;
}

.bildertittel h3{
	position: relative;
	left: 37%;
	display: inline;
}
.albumboks {
	position: relative;
	width: 30%;
	text-align: center;
	margin: 0 1%;
	float: left;
}

.albumbilde {
	position: relative;
	width: 300px;
	height: 200px;
	margin: 5px;
	
}

.albumboks a{
	padding: 4px;
	text-align: center;
	position: relative;
	font-weight: bold;
	
}

.albumoversiktboks {
	position: relative;
	width: 30%;
	text-align: center;
	margin: 0 1%;
	float: left;
}

.albumoversiktbilde {
	position: relative;
	width: 50%;
	
	margin: 5px;
	
}

#galleri img{
	margin: 0 auto;
	width: 50%;
}

.kommentarfelt {
	margin: 0 auto;
	text-align: center;
}

/*       FOOTER STYLE        */

#copyright {
	position: fixed;
	right: 10px;
	bottom: 5px;
}

