body {
	font-family: Helvetica;
	margin: 0 auto;
	width: 100%;
}

#header {
	background-color: #0BB6FF;
	height: 155px;
	width: 100%;
	text-align: center;
	display: block;
}

#tittel {
	width: 7em;
	font-size: 60px;
	font-weight: bold;
	color: #003355;
	position: relative;
	left: 100px;
	display: inline-block;
}

#logo {
	position: relative;
	top: 30px;
	left: 80px;
	width: 300px;
	height: 120px;
	z-index: 100;
	display: inline;
	border: 0;
}

img{
	border: 0;
}

#meny {
	color: #003355;
	background-color: #0BB6FF;
	width: 100%;
	min-width: 900px;
	text-align: center;
	
}

.knapp {
	background-color: #0BB6FF;
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
	padding: 10px 10px;
}

.knapp:hover{
	cursor: pointer;
}

#innhold {
	margin: 10px 0px;
	padding: 10px 30px;
}
