/*   HJEM STYLE        */

/*   NEWSITEMS      */

.side h2, .side h3 {
	margin-top: 5px;
}
.newsitem p {
	font-size: larger;
}
.newsitem {
	margin-bottom: 10px;
}
.newsimage {
	width: 97%;
	border-radius: 5px;
}
.newsheader {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
}
.newsheader img {
	width: 50px;
	height: 50px;
}
.newsheader .newsdate {
	font-size: 16px;
	color: #555;
	padding-top: 2px;
}
.newsheader .newstitle {
	padding: 0 7px;	
}
.newsheader .newstitle h3 {
	margin: 0 0;
}

.newsitem:hover span.close.slettnewsitem {
	display: block !important;
	float: right;
	
}

#side1 .btn-info {
	float: right;	
	/*background-color: #B0E0E6;*/
}
#createnewstittel {
	font-size: larger;
	font-weight: 500;
}
#createnewstextarea {
	width: 100%;
	min-height: 75px;
	max-height: 400px;
	resize: vertical;
}

/*  KALENDERTABELL   */
#kalendertable {
    padding-top: 5px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1px;
    overflow: hidden;
}
#kalendertable tr:nth-child(odd) {
    background-color: #B0E0E6;
}

#kalendertable tr:nth-child(even) {
    background-color: #8D9CD3;
}

#kalendertable td:first-child {
    padding-left: 10pt;
    width: 50pt;
}

#kalendertable tr:first-child td:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

#kalendertable tr:first-child td:nth-child(2) {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

#kalendertable tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
}

#kalendertable tr:last-child td:nth-child(2) {
    border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
}


/*     SIDENE    */
#side1 {
	overflow-y: scroll;
	max-height: 72%;
}
#side1::-webkit-scrollbar {
    width: 4px;
    
}
 
#side1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
#side1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#side1 .tekst {
	padding: 8px 0px;
}
#side1 .bildecontainer {
	width: 100%;
}
#side1 img.stort {
	height: auto;
	width: 100%;
	margin: 0 auto;
	display: block;
}

#side2 {
	
}


/*    SOPPELPOLL    */
#soppelpoll {
	margin: 5px 0;
	padding: 0;
	font-size: 13pt;
	
}
#soppelpoll .sporsmal {
	padding: 0;
	margin: 5px 0;
	
}
.btnwrapper {
	
}
#soppelpoll .btn {
	margin: 5px 0;
	display: block;
	width: 120px;
}
#soppelpoll .soppelbilder {
	padding: 0;
	margin: 0;
}
#soppelpoll img {
	padding: 0px;
}
