/*   HJEM STYLE        */

/*   NEWSITEMS      */
.side h2, .side h3 {
	margin-top: 5px;
}
.newsitem p {
	font-size: larger;
}


/*  KALENDERTABELL   */
#kalendertable {
    padding-top: 5px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1px;
    overflow: hidden;
}
#kalendertable tr:nth-child(odd) {
    background-color: #B0E0E6;
}

#kalendertable tr:nth-child(even) {
    background-color: #8D9CD3;
}

#kalendertable td:first-child {
    padding-left: 10pt;
    width: 50pt;
}

#kalendertable tr:first-child td:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

#kalendertable tr:first-child td:nth-child(2) {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

#kalendertable tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
}

#kalendertable tr:last-child td:nth-child(2) {
    border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
}


/*     SIDENE    */
#side1 {
	overflow-y: scroll;
	max-height: 72%;
}
#side1::-webkit-scrollbar {
    width: 12px;
}
 
#side1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
#side1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#side1 .tekst {
	padding: 8px 0px;
}
#side1 .bildecontainer {
	width: 100%;
}
#side1 img.stort {
	height: auto;
	width: 100%;
	margin: 0 auto;
	display: block;
}

#side2 {
	
}


/*   VÆRET    */
#weather {
	font-size: 15pt;
	padding: 7px;
	position: relative;	
}
#vindpil {	
	bottom: 0px;
	position: relative;
}

/*    SOPPELPOLL    */
#soppelpoll {
	border-radius: 6px;
	background-color: #B0E0E6;
	padding: 6px;
}
#soppelpoll .soppelknapp {
	padding: 0;
	position: relative;
	top: 3px;
}
#soppelpoll .sporsmal {
	font-family: fantasy;
	font-size: large;	
}
#soppelpoll img {
	padding: 2px;
}
