
body {
    margin: 0px 0px;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
}

#titleinput {
    width: 133pt;
}
#closeoverlay {
    position: absolute;
    right: 7pt;
    top: -6pt;
}
#closeoverlay:hover {
    cursor: pointer;
}

#calendar {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

#eventoverlay {
    position: absolute;
    width: 165pt;
    height: 170pt;
    display: none;
    background-color: #B2E0E5;
    z-index: 1;
    border-radius: 10pt;
}

.eventcontent {
    position: absolute;
    display: block;
    margin-top: 10pt;
    margin-left: 15pt;
}

#eventform {
    position: absolute;
    display: block;
    /*margin-top: -20pt;*/
    /*margin-left: 15pt;*/
}
#descriptioninput {
    resize: none;
}
/*#eventtitleinput {*/
    /*width: 100%;*/
    /*margin-top: 3pt;*/
    /*margin-left: 10pt;*/
/*}*/

#titlelabel {
    /*position: relative;*/
    /*margin: auto;*/
    /*margin-top: 5pt;*/
    /*width: 75%;*/
}