/*
 * galleriStyle.css
 * her finnes styling for alle gallerirelaterte sider.
 */

/* SUBNAVBAR  (kan ikke hete navbar lenger - konflikt med BS)*/
.subnavbar {  
    width: 80%;
    margin: 0 auto;
    
}
.subnavbar td {
    width: 33%;
}
.subnavbar a:hover {
    text-decoration: none;
}
.subnavbar a{
    text-decoration: none;
    color: #333333;
}
.subnavbar h3 {
    margin: 0;
    padding-bottom: 10px;
    font-weight: 600;
}
.subnavbar .navitem1 {
    text-align: left;
    font-weight: 300;
}
.subnavbar .navitem2 {
    text-align: center;
    font-weight: 600;
}
.subnavbar .navitem3 {
    text-align: right;
    font-weight: 300;
}

/* THUMBNAIL-GRID */

.beholder {
    overflow: hidden;
    text-align: center;
    height: auto;
    margin-bottom: 9px;
    
}
.beholder > .tommel > .tommelbilde {
    width: 100%;
}
.beholder > .tommel:hover {
    text-decoration: none;
}
.beholder > .tommel > .caption{
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    color: #005566;
}

/*     GALLERI STYLE      */

/*  Bildeboks  */
#neste:hover {
    cursor: pointer;
}
#forrige:hover {
    cursor: pointer;
}
.bildeboks {
    
}
.bildeboks > .bilde {
    
    height: 73%;
    width: 100%;
    
}
.bildeboks > .bilde > img {
    padding-bottom: 5px;
    padding-top: 5px;
    height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/*  Kommentarer  */
.kommentarboks {
    padding: 30px 20px;
}
.kommentarboks hr{
    width: 100%;
}
#like {
    display: inline;
}
#like:hover{
    cursor: pointer;
}
#like:hover > a {
    text-decoration: none;
}
/*  EN ENKELT KOMMENTAR  */
.kommentarbilde {
    display: inline-block;
    margin: 2px;
}
.kommentarinnhold {
    display: inline-block;
    width: 80%;
}
.kommentar {
    padding: 5px;
}
.kommentator {
    font-weight: 600;
}
.kommentartekst {
    
}
.kommentarinfo {
    font-weight: 300;
    color: grey;
}

/* FELT FOR NY KOMMENTAR  */
.kommentarfelt {
    padding: 5px;
}
.kommentarfelt .nykommentar {
    resize: none;
    width: 80%;
    display: inline-block;
}
#progress {
    margin: 20px 20px;
    position: relative;
    left: 44%;
}