/*
 * hjemStyle.css
 * her finnes styling for hjem-siden; most notably karusellen.
 */

/*   HJEM STYLE        */

.side {
	
	height: 100px;
}

.side img {
	overflow: hidden;
}

#side1 {

}
#side2 {

}

#weather {
	font-size: 30px;
	padding: 7px;
}

#vindpil {
	padding: 2px;
	bottom: -10px;
	position: relative;
}