/*
 * hjemStyle.css
 * her finnes styling for hjem-siden; most notably karusellen.
 */

/*   HJEM STYLE        */

.side h2{
	margin-top: 0;
}
#calendar {	
	
}
#side1 {
	
}
#side1 .tekst {
	padding: 8px;
}
#side1 .bildecontainer {
	width: 100%;
}
#side1 img {
	height: auto;
	width: 93%;
	margin: 0 auto;
	display: block;
}
#side2 {
	position: relative;
	top: 5px;
}
#weather {
	font-size: 15pt;
	padding: 7px;
	position: relative;
	top: 50px;
}
#vindpil {	
	bottom: 0px;
	position: relative;
}