/*
 * loginStyle.css
 * her finnes styling for alle gallerirelaterte sider.
 */

.innholdboks {
	background-color: #B0E0E6;
	width: 400px;
	margin: 30px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}
.feilmelding {
	color: rgb(100, 10, 10);
}
.tick img {
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
}
table {
	margin: 0 auto;
	width: 70%;
}
td {
	padding: 3px;
	width: auto;
	
}
td input.knapp {
	height: 30px;
	font-weight: 400;
	width: 110px;
	font-size: 1.1em;
}
input {
	width: 7em;
	margin: 0 auto;
}
#profilbildeimg {
	width: 300px;
	height: 200px;
	z-index: 103;
}
#redigeringscanvas {
	width: 250px;
	height: 200px;
	background-color: white;
	border: 1px solid #333333;
}
#slider {
    width: 250px;
    margin: 10px;
    float: left;
}