/*
 * style.css
 * her finnes generell, header, footer og countdown -styling
 */

/*  GENERELL STYLE  */
html {
    height: 100%
}
body {
	font-family: Helvetica;
	background-color: #FFF5EE;
	padding: 0;
	margin: 0;
}
#wrapper{
    min-height: 100%;
    position: relative;
}
a {
	text-decoration: none;
}

/*            HEADER STYLE          */

#weather {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
}

#header {
	background-color: #0BB6FF;
	height: auto;
	width: 100%;
}
#tittel {
	width: 7em;
	font-size: 40px;
	font-weight: bold;
	color: #003355;
	margin: 0;
	padding-left: 40px;
	padding-top: 20px;
}
#logo {
    height: 60px;
    position: absolute;
    left: 250px;
    top: 10px;
    z-index: 102;
    
}

.navbar {
    background-color: #0BB6FF;
    border: none;
}
#navbar {
        background-color: #0BB6FF;
}
.knapp {
    font-weight: 600;
    font-size: 20px;
    
}
.knapp:hover{
    text-decoration: none;
    
}
.navbar-default .navbar-nav > li > a {
    color: #005566;
}


/*       FOOTER STYLE        */

#footer{
    height: 75px; 
    width:100%;
    position: absolute;
    bottom: 0;
    margin-top: 10px;
    background-color: lightblue;
    border-top: outset 5px;
    
}

#copyright {
	padding-top: 20px;
	text-align: center;
	color: #005566;
}

/* COUNTDOWN STYLE */

.cd_intro {
	position: relative;
	top: 25px;
	font-size: 40px;
	font-weight: 100;
	text-align: center;
	height: auto;
}

#counter {
	position: relative;
	top: 50px;
	font-size: 70px;
	font-weight: 100;
	text-align: center;
	margin: 10px;
	height: 300px;
}

/* GANGNAM STYLE */



