/*
 * style.css
 * her finnes generell, header, footer og countdown -styling
 */

/*  GENERELL STYLE  */
html {
    height: 100%
}
body {
    height: 100%;
    font-family: Helvetica;
    background-color: #FFFAF0;
    padding: 0;
    margin: 0;
}
#wrapper{
    min-height: 100%;
    position: relative;
    margin-bottom: -50px;
}
#wrapper::after {
    content: "";
    display: block;
}
#footer, #wrapper::after {
    height: 50px;
}

a {
	text-decoration: none;
}
a:hover {
    color: #005566;
}

/*            HEADER STYLE          */

#header {
    background-color: #B0E0E6;
    height: 113px;
    width: 100%;
    max-width: 100%;
    z-index: 105;

}
#tittel {
    width: 7em;
    font-size: 40px;
    font-weight: bold;
    color: #003355;
    margin: 0;
    padding-left: 44px;
    padding-top: 20px;
}
#logo {
    height: 60px;
    position: absolute;
    left: 250px;
    top: 10px;
    z-index: 1002;
    
}
#innhold.container-fluid{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* NAVBAR STYLE */
.navbar {
    background-color: #B0E0E6;
    border: none;
    z-index: 1001;
}
#navbar {
    background-color: #B0E0E6;
}
.knapp {
    font-weight: 600;
    font-size: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
    color: #005566;
}
.navbar-right > li a , .navbar-right > li a:hover {
    color: #005566;
    font-weight: 600;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #B0E0E6;
}
.dropdown > .dropdown-toggle {
    color: #005566;
    font-weight: 600;
    padding-bottom: 9px;
    padding-top: 1px;
}
.dropdown > a > img {
    margin-right: 7px;
}
.dropdown > a > #navndropdown {
    color: #005566;
}
.dropdown-menu {
    background-color: #FFFAF0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #005566;
}
.navbar .nav > li {
  z-index: 1001;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #005566;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #005566;
}

/*       FOOTER STYLE        */

#footer{
    height: 50px; 
    width:100%;
    position: absolute;
    bottom: 0;
    background-color: #B0E0E6;

}

#copyright {
	padding-top: 20px;
	text-align: center;
	color: #005566;
}

/* COUNTDOWN STYLE */

.cd_intro {
	position: relative;
	top: 25px;
	font-size: 40px;
	font-weight: 100;
	text-align: center;
	height: auto;
}

#counter {
	position: relative;
	top: 50px;
	font-size: 70px;
	font-weight: 100;
	text-align: center;
	margin: 10px;
	height: 300px;
}

/* GANGNAM STYLE */



